@font-face {
    font-family: 'GothamRounded Bold';
    src: url('./fonts/GothamRounded-Bold.otf');
}
@font-face {
    font-family: 'GothamRounded Medium';
    src: url('./fonts/GothamRounded-Medium.otf');
}